/* video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
} */

.intro-container {
  background: url("/images/img-home.jpg") center center/cover no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.intro-container > h1 {
  color: var(--primary-color);
  font-size: 100px;
  margin: -100px 10px 0 10px;
  text-align: center;
}

.intro-container > p {
  margin-top: 10px;
  color: var(--primary-color);
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.intro-btns {
  margin-top: 32px;

}

.intro-btns .btn {
  margin-top: 6px;
}

.btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 5px;
}

@media screen and (max-width: 1000px) {
  .intro-container > h1 {
    font-size: 70px;
    margin-top: -130px;
  }
}

@media screen and (max-width: 700px) {
  .intro-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }
  .intro-container > p {
    font-size: 30px;
  }
  .btn {
    width: 100%;
    margin: 6px 0;
    padding: 10px 23px;
    font-size: 18px;
  }

  .intro-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .intro-container > p {
    font-size: 20px;
  }
  .btn {
    width: 100%;
    margin: 6px 0;
    padding: 10px 23px;
    font-size: 18px;
  }
}
