:root {
  --navbar-height: 55px;
  --primary-color: rgb(247, 247, 247);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

.posts,
.gallery {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  /* background-image: url("/images/img-home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  color: rgb(44, 44, 44);
  font-size: 100px;
}
